*{
    margin: 0;
    list-style: none;
}


header{
    background-color: white;
    padding: auto;   
}
 
.logo{
    width:100px;
    height: auto;
    padding: 4px 10px 4px 10px;
}

.alinhamentoMenu{
    /* padding-left: 40em; */
    margin: 6px;
    position: absolute;
    top:0;
    right: 50px;
}
header nav li{
    padding: 10px 10px 10px 10px;
}
.corMenu{
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 20px 10px 20px 10px;
}
.corMenu:hover{
    background-color:#E0E0E0;
    padding: 20px 10px 20px 10px;
    border-radius: 0px;
    color: black;
}
body{
    background-color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    display: grid;
    min-height: 100%;
}
.row{
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
}
.imagemResponsiva{
    height: auto;
    width: 100%;  
}

.alinhamentoImagemSobre{
    margin-bottom: 30px;
}

footer{
    background-color:#515151 !important; 
    padding: 10px;
    width:100%;
}
footer p{
    color: white !important;
    text-align: center !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px !important;
    font-weight: lighter !important;
    margin-top: 13px;
    margin-bottom: 15px;
}
.textoSobre{
    text-align:justify;
    line-height: 1;
    font-weight: lighter;
}
.contatoCentralizado{
    padding-left: 30%;
    padding-right: 30%;
}
.imagensAlbum{
    filter:grayscale(100%);
}
.botaoCarouse1{
    color: black;
    border-color: black;
}
.botaoCarouse1:hover{
    color: white;
    border-color: black;
    background-color:black
}
.tituloProjetos{
    margin-left: 4%;
}